.frame {
  background-image: url(/src/assets/black-friday.png);
  background-position: 50% 50%;
  border-radius: 16px;
  height: 349px;
  position: relative;
  width: 600px;
  align-self: flex-end;
  margin-top: 370px;
  opacity: 0;
  transform: translateX(15px);
  transition: opacity 1s ease, transform 1s ease;
  margin-right: 32px;
}
.frame.visible {
  opacity: 1;
  transform: translateX(0);
}
.frame-wrapper {
  padding: 75px 35px 55px 0;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-left: 284px;
  flex-direction: column;
}
.frame .use-code-at {
  color: transparent;
  font-family: "Graphik LC-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.08px;
  line-height: 20.8px;
  white-space: nowrap;
  display: flex;
  margin-top: 0;
  margin-bottom: 40px;
}
.frame .text-wrapper {
  color: #6c6c70;
}
.frame .span {
  color: #d7a830;
}
.frame .button-wrapper {
  align-items: flex-start;
  background-color: #ffffff1a;
  border-radius: 14px;
  display: inline-flex;
  gap: 10px;
  left: 314px;
  opacity: 0.9;
  padding: 10px 24px;
}
.frame .percent-off {
  background: linear-gradient(180deg, rgb(125, 83, 23) 0%, rgb(237, 223, 149) 100%);
  background-clip: text;
  color: transparent;
  font-family: "Graphik LC-Medium", Helvetica;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 12px;
  line-height: 40px;
  text-align: center;
}
.frame .black-friday {
  color: #ffffff;
  font-family: "Graphik LC-Medium", Helvetica;
  font-size: 46px;
  font-weight: 600;
  letter-spacing: -1.84px;
  line-height: 50.6px;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 16px;
}
.frame .close-instance {
  left: 561px;
  position: absolute;
  top: 15px;
  cursor: pointer;
}
.bold-font {
  font-weight: 600;
}
.code-color {
  color: rgba(215,168,48,1);
}
.menu-icon {
  display: none;
}
.app {
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  height: 250vh;
  font-family: Graphik LC, sans-serif;
}
.header-banner {
  background: linear-gradient(180deg, #101010 0%, #0b0b0b 100%);
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0 22px 0 8px;
  margin-top: 54px;
}
.img {
  aspect-ratio: 3.93;
  object-fit: contain;
  object-position: center;
  width: 212px;
  overflow: hidden;
  max-width: 100%;
}
.friday-text {
  font-weight: 600;
  color: rgba(215,168,48,1);
}
.header-banner-content {
  align-self: center;
  align-items: center;
  display: flex;
  gap: 12px;
  margin: auto 0;
}
.banner-date-content {
  letter-spacing: 0.05px;
  flex-grow: 1;
  white-space: nowrap;
}
.percent-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 12px;
}
.img-2 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 3px;
  overflow: hidden;
  max-width: 100%;
  margin: auto 0;
}
.percent {
  color: #d7a830;
  letter-spacing: -0.64px;
  align-self: stretch;
  font-weight: 600;
}
.header-banner-use-code {
  letter-spacing: 0.05px;
  white-space: nowrap;
  flex-grow: 1;
  padding-left: 15px;
  justify-content: center;
}
.header-banner-shop {
  align-self: center;
  display: flex;
  gap: 14px;
  margin: auto 0;
}
.header-banner-shop-button {
  color: #0b0b0b;
  text-shadow: 0px 0px 30px rgba(102, 204, 255, 0.2);
  justify-content: center;
  border-radius: 100px;
  backdrop-filter: blur(15px);
  background-color: var(--Text-Night-Primary-1, #fff);
  flex-grow: 1;
  padding: 8px 20px;
  font: 500 16px/110% Graphik LC, -apple-system, Roboto, Helvetica,
  sans-serif;
}
@media (max-width: 991px) {
  .header-banner {
    max-width: 100%;
    flex-wrap: wrap;
    padding-right: 20px;
  }
  .header-banner-content {
    max-width: 100%;
    flex-wrap: wrap;
  }
  .header-banner-use-code {
    white-space: initial;
  }
  .banner-date-content {
    white-space: initial;
  }
  .date-text {
    display: none;
  }
  .checkout-text {
    display: none;
  }
  .header-banner {
    gap: 10px;
  }
  .img {
    width: 185px;
  }
  .img-3 {
    display: none;
  }
}
@media (max-width: 767px) {
  .header-banner-shop-button {
    display: none;
  }
  .header-banner-content {
    gap: 4px;
  }
  .span-2 {
    gap: 2px;
  }
  .header-banner {
    gap: 4px;
  }
  .header-banner-use-code {
    display: none;
  }
  .img {
    width: 159px;
  }
  .frame {
    align-self: center;
    margin-right: 0px;
  }
  .close-instance {
    left: 90% !important;
  }
}
@media (max-width: 600px) {
  .frame {
    width: 100%;
    max-width: 600px;
    border-radius: 0;
  }
  .frame-wrapper {
    margin-left: 30%;
  }
  .menu-icon {
    display: flex;
    align-items: center;
  }
  .header-banner {
    padding-left: 6px;
    padding-right: 6px;
  }
  .hide-mobile {
    display: none;
  }
  .header-banner-shop {
    display: none;
  }
}
